* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.product {
  border: 4px solid black;
}

.product-title {
  font-size: 22px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 10px;
}

.price {
  font-size: 24px;
}

.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.more-information,
.more-information:visited {
  color: #444;
}

.more-information:hover,
.more-information:active {
  text-decoration: none;
}

.add-cart {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.add-cart:hover {
  background-color: white;
  color: black;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
}

.details-list {
  list-style: square;
}

p {
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}
