* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  margin-top: 20px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.product {
  border: 4px solid black;
}

.product-title {
  font-size: 22px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 10px;
  position: relative;
}

.product-title::before {
  content: "SALE";
  background-color: #b91818;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  position: absolute;
  top: -15px;
  left: -30px;
}

.price {
  font-size: 24px;
}

.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.more-information,
.more-information:visited {
  color: #444;
  display: inline-block;
  margin-bottom: 30px;
}

.more-information:hover,
.more-information:active {
  text-decoration: none;
}

.add-cart {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.add-cart:hover {
  background-color: white;
  color: black;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
}

.details-list {
  list-style: square;
}

p {
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

.row {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.product-info {
  margin: 20px;
  flex: 1;
}

.product-img {
  align-items: stretch;
}

.price-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details {
  flex: 1;
}
